@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
 font-family: 'Roboto', sans-serif;
 color:#292929;
 font-weight: 400;
}

.card{
  height: 100%;
}
.card-body{
 padding: 20px 90px;
}

.card-title{
  font-weight: 700;
  font-size: 1.5rem;
}

.btn{
 border-radius: 5px;
 background-color: #FFBC0D;
 padding: 14px 30px;
 color: #000000B3;
}

.btn:hover{
  transition: 0s;
  background-color: #C08B00;
}

@media only screen and (max-width: 1200px)  {
  .card-body{
    padding: 20px 10px;
  }
}